.jumbo{
position: relative;
width: 1253px;
height: 484px;
left: 134px;
top: 58px;

background: #817F7F;
border-radius: 10px;
margin-bottom: 120px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;

}
.title{

width: 477px;
height: 115px;
left: 506px;
top: 185px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 160%;
letter-spacing: 0.5px;

color: #FFFFFF;

}

.btn{
width: 226px;
height: 86px;

background: #FFFEFE;
border-radius: 50px;
border: none;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
margin-top: 74px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
padding: 3px 0px 1px 8px;
}
.arrow{
    margin: 0px 12px -3px 17px;
}